.AppBar {
  position: sticky;
  top: 0;
  z-index: 2;

  &-powered {
    align-items: flex-end;
    color: #5b5b5b;
    display: flex;
    flex-grow: 1;
    font-size: 11px;
    height: 100%;
    margin-left: 8px;

    * {
      max-height: 16px;
    }
  }

  &-subtitle {
    font-size: 10px;
    font-weight: 300;
  }

  &-title {
    font-size: 14px;
    font-weight: 600;
  }

  &-user {
    color: #727272;
    flex-direction: column;
  }

  &.TopBar {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
    height: 64px;
    padding: 16px 32px;
  }

  .TopBar {
    &-action {
      &.Icon {
        padding: 8.5px 6px;
        min-width: 24px;
      }
    }

    &-actions {
      height: 100%;

      * {
        max-height: 100%;
      }

      .TopBar-action {
        min-width: 32px;

        &:not(:last-child) {
          margin-right: 16px;
        }
      }
    }

    &-logo {
      > img {
        height: 32px;
      }
    }
  }
}
